:root {
    --pics: url("https://fsmedia.imgix.net/dc/c9/97/79/ce5a/4cf2/858a/547955e0513e/raven-skin-available-on-fortnite.gif");
}

.Updates:hover{
 --pics: url("https://assets1.ignimgs.com/thumbs/userUploaded/2018/7/12/paradisepalms-1531401508830.jpg");
}

body {
  background-color: orange;
  background-image: var(--pics);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}



ul,li, h3, p,  h1  {
    color: white;
}

h1 {
    text-align: center;
    font-family:  'Electrolize', sans-serif;
    font-size: 60pt;
}

img {
  height: 500px;
  width: 50%;

}

a {

font-size: 20pt

}

* {
 font-family: 'Play', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;

}
div{
    margin-top: 600px;
    text-align: center;

}
.Tabs a {

 text-decoration: none;
    color: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 15px;
    transition: 0.3s;
}
.Tabs a:hover{
 font-size: 40px;
    width: 200px;
    height: 200px;
    transition: 0.3s;
}
.Updates{
background-color: green;
}
.Weapons{
background-color: white;
}
.Items{
background-color: orange;
}
.Skins{
background-color: red;
}

#unload{
width:100%;
    transition: .2s;
}

@keyframes Yeet {
  from {width:100%;}
  to{width:0%;}
}

.CoverPictures{
animation-name:Yeet;
animation-duration: 0.2s;

width:0;
   height: 100%;
    position: absolute;
}
